@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --animate-delay: 0.4s;
}
.projects {
    --animate-duration: 2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    cursor:grab;
}
body::-webkit-scrollbar{
    display: none;
}
header {
    position: fixed;
    height: 150px;
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}
header p a {
    font-size: 22px;
    color: white;
    margin: 100px;
    cursor: pointer;
}
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(rgba(7, 3, 24, 0.3), rgba(68, 63, 63, 0.3));
    flex-direction: column;
}
.video-hero {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.hero h1 {
    color: white;
    font-size: 250px;
    font-weight: 400;
}
.hero h2 {
    color: white;
    font-size: 27px;
    font-weight: 500;
    padding-top: 50px;
}
.hero p {
    color: white;
    font-size: 23px;
    position: absolute;
    bottom: 120px;
}
.hero i {
    color: white;
    font-size: 28px;
    position: absolute;
    bottom: 50px;
    animation: move 2s infinite ease-in-out;
    transition: all 1s ease-in;
}
#arrow-proj {
    opacity: 0;
}
@keyframes move {
    0% {margin-bottom:0;}
    50% {margin-bottom:30px;}
    100% {margin-bottom:0;}
}

.projects-container {
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.projects-container::-webkit-scrollbar{
    display: none;
}
.projects {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-body {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-left: 100px;
}
.project-body .body-section-info {
    color: white;
    width: 30%;
    opacity: 0;
}
.project-body .body-section-info h2 {
    font-size: 90px;
    font-weight: 100;
    padding-bottom: 20px;
    font-weight: 400;
}
.project-body .body-section-info p {
    font-size: 20px;
    font-weight: 300;
}
.body-section-imgs {
    display: flex;
    position: relative;
    width: 790px;
    height:450px;
    margin-top: 100px;
    opacity: 0;
}
.project-body .body-section-info button {
    background: transparent;
    margin-top: 30px;
    color: white;
    font-size: 22px;
    border: solid white 1px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.project-body .body-section-info button:hover{
    background: rgb(255 255 255 / 30%);
}
.single-img {
    background: black;
    margin: 0px 20px;
    position: absolute;
    height: 100%;
}
.single-img img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.img2.single-img {
    right: 0;
    top: -100px;
}
.project-1 {
    background-color: black;
    background-image: url('../images/mashup-bg.png');
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}
.project-1:after {
    content: '';
    width: 100%;
    height: 100%;
    background-position: inherit;
    background-image: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-repeat: inherit;
    position: fixed;
    top: 0;
    z-index: -2;
}
.project-2 {
    background-color: black;
    background-image: url('../images/Novozco-banner.png');
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}
.project-2:after {
    content: '';
    width: 100%;
    height: 100%;
    background-position: inherit;
    background-image: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-repeat: inherit;
    position: fixed;
    top: 0;
    z-index: -3;
}
.video-figura {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -3;
    display: none;
}
.video-figura.show{
    display: block;
}

@media (max-width:1500px) {
    .body-section-imgs {
        width: 47vw;
        height: 27vw;
    }
    .project-body .body-section-info {
        width: 35%;
    }
}
@media (max-width:1250px) {
    .hero h1 {
        font-size: 220px;
    }
}
@media (max-width: 1150px){
    .project-body .body-section-info {
        margin-right: 100px;
    }
    .project-body .body-section-info p {
        font-size: 18px;
    }
}
@media (max-width: 1050px){
    .hero h1 {
        font-size: 200px;
    }
}
@media (max-width: 1000px){
    .project-body {
        flex-direction: column;
        padding-left: 0px;
        height: 100%;
        justify-content: center;
        position: relative;
    }
    .project-body .body-section-info {
        margin-right: 0px;
        width: 65%;
        margin-top: -70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-body .body-section-info p {
        text-align: center;
    }
    .project-body .body-section-info h2 {
        text-align: center;
    }
    .body-section-imgs {
        width: 70vw;
        height: 40vw;
        position: absolute;
        bottom: 220px;
    }
}
@media (max-width: 950px){
    .hero h1 {
        font-size: 180px;
    }
}
@media (max-width: 850px){
    .hero h1 {
        font-size: 160px;
    }
    .body-section-imgs {
        bottom: 150px;
    }
    header p a {
        margin: 30px;
    }
}
@media (max-width:800px) {
    .video-hero, .video-figura  {
        right: -250px;
    }
    .body-section-imgs {
        bottom: 95px;
    }
}
@media (max-width: 750px){
    .hero h1 {
        font-size: 21.5vw;
    }
    .hero h2 {
        padding-top: 0px;
        font-size: 3.5vw;
    }
    header p a {
        font-size: 20px;
    }
    .hero i {
        font-size: 24px;
        bottom: 20px;
    }
    .hero p {
        font-size: 21px;
        bottom: 90px;
    }
    .body-section-imgs {
        display: none;
    }
    .project-body .body-section-info {
        margin-top: 0px;
        width: 90%;
    }
    .project-body .body-section-info p {
        font-weight: 500;
    }
    .project-body .body-section-info h2 {
        font-weight: 700;
    }
    .project-body .body-section-info button {
        font-size: 35px;
        width: 80px;
        height: 80px;
    }
}
@media (max-height: 700px) and (min-width: 751px){
    .hero p, .hero i {
        display: none;
    }
}
@media (max-width:700px) {
    .video-hero, .video-figura  {
        right: -350px;
    }
}
@media (max-width: 450px){
    .hero i {
        font-size: 22px;
    }
    .hero p {
        font-size: 20px;
    }
}
@media (max-width: 385px){
    .project-body .body-section-info h2 {
        font-size: 80px;
        font-weight: 400;
    }
    .project-body .body-section-info p {
        font-size: 15px;
        font-weight: 300;
    }
    .project-body .body-section-info button {
        font-size: 25px;
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 350px){
    .hero i {
        font-size: 20px;
    }
    .hero p {
        font-size: 18px;
    }
    header p a {
        font-size: 16px;
        margin: 20px;
    }
    header {
        align-items: start;
        margin-top: 30px;
    }
    .hero h2 {
        font-size: 5vw;
    }
}
@media (max-width: 300px){
    .project-body .body-section-info p {
        font-size: 14px;
    }
    .project-body .body-section-info h2 {
        font-size: 65px;
    }
    .project-body .body-section-info {
        width: 70%;
    }
}
@media (min-aspect-ratio: 16/9){
    .video-hero, .video-figura {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .video-hero, .video-figura  {
        width: auto;
        height: 100%;
    }
}